body{background-color: #f9f9f9;}

.title1{color: #3d5a5b;
	font-family: "articulat-cf", sans-serif;
font-weight: 500;
font-style: normal;
	font-size: 130pt;
	text-align: left;
	margin-top: 5pt;
	margin-left: 13pt;}

/*.title1:hover{
	font-weight: 700;
	transition: 0.1s ease;
	color: #febeb0;
}*/

.name{color: black;
	font-size: 12pt;
	font-family: sans-serif;
	text-align: left;
	margin-top:15pt;
	margin-left: 20pt;}

.course{color: black;
	font-size: 12pt;
	font-family: sans-serif;
	text-align: center;
	margin-top:-14pt;}

.spring{color: black;
	font-size: 12pt;
	font-family: sans-serif;
	text-align: right;
	margin-top: -14pt;
	margin-right: 20pt;}
/*----------------------*/

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.studio{
	color: #f9f9f9;
	margin-top: 35pt;
	margin-left: 20pt;
	width: 696px;
	height: 451px;
	background-color: #3d5a5b;
	align-items: center;
}

.text1{
	margin-top: 17pt;
	margin-left: 16pt;
	font-family: "articulat-cf", sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 22pt;
}

.text1-1{
	font-family: "articulat-cf", sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 15pt;
	margin-left: 13pt;
}

.lab{color: #f9f9f9;
	margin-top: 35pt;
	margin-left: 25pt;
	width: 696px;
	height: 451px;
	background-color: #3d5a5b;
	align-content: center;
}

.text2{
	margin-top: 17pt;
	margin-left: 16pt;
	font-family: "articulat-cf", sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 22pt;
}

.text2-1{
	font-family: "articulat-cf", sans-serif;
font-weight: 300;
font-style: normal;
	font-size: 15pt;
	margin-left: 13pt;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: underline;
	color: #febeb0;
	font-size: 26pt;
}










