body{
  margin: 0;
  overflow-x: hidden;
  background-color: #FEFEFE;
}

.top{
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 25px;
/*  position: fixed;*/
  z-index: 1;
}

.title{
  font-family: "span", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

.info{ 
  font-family: "forma-djr-display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
 }

a{
  text-decoration: none;
  color: black;
}

.description{
  position: relative;
  transform: translate(25.8px, -6px);
  font-size: 18px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 1400px;
/*  Padding: 0px 20px 0px 0px;*/
  margin-right: 20px;
}

/*------------------------------------------------------------------------*/

.background{
  flex-direction: flex-start;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 90px 3px;
  position: relative;
  top: 44px;
}


img {
  width: 110%;
  max-width: 100%;
  height: 100%;
}

.cha, .di, .guc, .her, .val, .mai, .ys, .chl, .pra, .dgg, .given, .marc{
  font-size: 16px;
  font-family: "forma-djr-display", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  position: relative;
  left:25.8px;
  top: 8px;
}

.cha:hover{
  color: #D8821C;
}

.di:hover{
  color: #F399A3;
}

.guc:hover{
  color: #D1A390;
}

.her:hover{
  color: #F68661;
}

.val:hover{
  color: #D34344;
}

.mai:hover{
  color: #853B12;
}

.ys:hover{
  color: #B0936D;
}

.chl:hover{
  color: #F0BB7E;
}

.pra:hover{
  color: #E9866F;
}

.dgg:hover{
  color: #527084;
}

.given:hover{
  color: #AB6354;
}

.marc:hover{
  color: #A9955F;
}

/*------------------------------------------------------------------------*/

@media (max-width: 1035px) {
  .background {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

@media (max-width: 750px) {
  .background{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

@media (max-width: 658px) {
  .background{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    top: 60px;
  }
  .description{
    position: relative;
    top: 10px;
  }
}

@media (max-width: 450px) {
  .background{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: relative;
    top: 70px;
  }
  .description{
    position: relative;
    top: 10px;
  }
}

.dgg{
  padding-bottom: 60px;
}



