body{background-color:white;
	height: 1184px;
	overflow-x: hidden;}

.title{color: black;
	text-align: center;
	font-family: "georgiapro", sans-serif;
	font-size: 150px;
	font-style: normal;
	font-weight: 400;
	margin-top: 175pt;
	line-height: 117.5%;}

.description{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 117.5%;
	margin-top: 310pt;
}

.shape{
	size: 400%;
}

.hexagon {
  width: 325px;
/*  height: 173.21px; 
  background-color: black; */
  position: absolute;
  animation: moveAround 18s infinite;
}

/*.hexagon:before,
.hexagon:after {
  content: '';
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  position: absolute;
}

.hexagon:before {
  top: -86.30px; 
  border-bottom: 86.60px solid black;
}

.hexagon:after {
  bottom: -86.30px;
  border-top: 86.60px solid black; 
}*/

@keyframes moveAround {
  0% {
    top: 10%;
    left: 1%;
  }
  20% {
    top: 72%;
    left: 10%;
  }
  40% {
  	top: 12%;
  	left: 85%;
  }
  60%{
  	top: 85%;
    left: 75%;
  }

  80% {
    top: 3%;
    left: 35%;
  }
  100% {
    top:  10%;
    left: 1%;
	}
}


