body{
  background-color:black;
  overflow: hidden;
}

.title1{
    color: white;
    text-align: center;
/*    font-family: Lato;*/
  font-family: "georgiapro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    margin-top: 21pt;
}

a{
  text-decoration: none;
  color: white;
}

.hexagon{
  color: white;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  top: 17pt;
  left: 20pt;
  position: fixed;}

.next{
  color: white;
  width: 33px;
  height: 21px;
  text-align: center;
/*  font-family: Lato;*/
  font-family: "georgiapro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  position: fixed;
  right: 37px;
  top: 28.5px;
}

.triangle{
  margin-top: -13pt;
  margin-left: 18pt;
  display: flex;
}

/*------------------------------------------------*/

.rec1{
  width: 181px;
  height: 1539px;
  transform: rotate(-90deg);
  border: 1px solid black;
  display: flex;
  margin-top: -420pt;
  margin-left: 500pt;
}

.rec12{
  width: 2500px;
  height: 181px;
  border: 1px solid white;
  display: flex;
  position: relative;
  top: -646.5pt;
  left: -10pt;
}

.text1{
  color: white;
  font-family: Lato;
  font-size: 18.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-top: -750pt;
}

.text1 {
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowing content */
  animation: marquee 12s linear infinite; /* Animation properties */
}

.text1 p {
  display: inline-block; /* Display the text as an inline block */
}

.text1:hover{
  color: #FFA8A8;
}

@keyframes marquee {
  from {
    transform: translateX(95%); /* Move to the right by 100% of the container width */
  }
  to {
    transform: translateX(-100%); /* Move to the left by 100% of the container width */
  }
}

/*.rec2{
  width: 181px;
  height: 1539px;
  transform: rotate(-90deg);
  border: 1px solid white;
  display: flex;
  margin-top: -350pt;
  margin-left: 500pt;
}*/

.rec22{
  width: 2500px;
  height: 181px;
  border: 1px solid white;
  display: flex;
  margin-top: 159pt;
  margin-left: -10pt;
}


.text2{
  color: white;
  font-family: Lato;
  font-size: 18.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
  margin-top: -104pt;
}

.text2{
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowing content */
  animation: marquee1 12s linear infinite; /* Animation properties */
}

.text2 p {
  display: inline-block; /* Display the text as an inline block */
}

.text2:hover{
  color: #FFA8A8;
}

@keyframes marquee1 {
  from {
    transform: translateX(-100%); /* Move to the right by 100% of the container width */
  }
  to {
    transform: translateX(95%); /* Move to the left by 100% of the container width */
  }
}

.text1:hover {
  animation-play-state: paused;}

.text2:hover {
  animation-play-state: paused; }

















