body{
  background-color:black;
  overflow: hidden;
}

.title1{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    margin-top: 21pt;
}

a{
  text-decoration: none;
  color: white;
}

.hexagon{
  color: white;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  top: 17pt;
  left: 20pt;
  position: fixed;}

.next{
  color: white;
  width: 33px;
  height: 21px;
  text-align: center;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  position: fixed;
  right: 37px;
  top: 28.5px;
}

.triangle{
  margin-top: -13pt;
  margin-left: 18pt;
  display: flex;
}

/*------------------------------------------------*/

.text p{
  color: white;
  font-family: Lato;
  font-size: 18.8px;
  font-style: normal;
  font-weight: 200;
  line-height: 140%;
  margin-top: 170pt;
}

.text{
  text-align: left;
  margin: 0 auto;
  max-width: 773.5px;
}



.symbol{
  color: #FFA8A8;
  width: 13px;
  height: auto;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;;}

.a1{
  margin-top: -3pt;
  margin-left: 200pt;
}

.a2{
  margin-top: 50pt;
  margin-left: 120pt;
}

.a3{
  margin-top: -380pt;
  margin-left: 60pt;
}

.a4{
  margin-top: -80pt;
  margin-left: 200pt;
}

.a5{
  margin-top: 55pt;
  margin-left: 300pt;
}

.a6{
  margin-top: -50pt;
  margin-left: 400pt;
}

.a7{
  margin-top: -90pt;
  margin-left: 450pt;
}

.a8{
  margin-top: ;
  margin-left: 600pt;
}

.a9{
  margin-top: 60pt;
  margin-left: 530pt;
}

.a10{
  margin-top: -23pt;
  margin-left: 710pt;
}

.a11{
  margin-top: -140pt;
  margin-left: 760pt;
}

.a12{
  margin-top: ;
  margin-left: 880pt;
}

.a13{
  margin-top: 50pt;
  margin-left: 1040pt;
}

.a14{
  margin-top: 35pt;
  margin-left: 940pt;
}

.a15{
  margin-top: -175pt;
  margin-left: 1070pt;
}

.a16{
  margin-top: 240pt;
  margin-left: 865pt;
}

.a17{
  margin-top: -50pt;
  margin-left: 990pt;
}

.a18{
  margin-top: 65pt;
  margin-left: 1060pt;
}

.a19{
  margin-top: 30pt;
  margin-left: 930pt;
}

.a20{
  margin-top: 60pt;
  margin-left: 1040pt;
}

.a21{
  margin-top: -160pt;
  margin-left: 740pt;
}

.a22{
  margin-top: 80pt;
  margin-left: 800pt;
}

.a23{
  margin-top: 20pt;
  margin-left: 660pt;
}

.a24{
  margin-top: -90pt;
  margin-left: 560pt;
}

.a25{
  margin-top: -85pt;
  margin-left: 500pt;
}

.a26{
  margin-top: 60pt;
  margin-left: 380pt;
}

.a27{
  margin-top: -74pt;
  margin-left: 270pt;
}

.a28{
  margin-top: 90pt;
  margin-left: 180pt;
}

.a29{
  margin-top: -380pt;
  margin-left: 110pt;
}

.a30{
  margin-top: 20pt;
  margin-left: 240pt;
}

.a31{
  margin-top: 30pt;
  margin-left: 45pt;
}





