body{
  background-color:black;
  overflow: hidden;
  text-align: center;
}

.title1{
    color: white;
    text-align: center;
/*    font-family: Lato;*/
    font-family: "georgiapro", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.5%;
    margin-top: 21pt;
}

a{
  text-decoration: none;
  color: white;
}

.hexagon{
  color: white;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  top: 17pt;
  left: 20pt;
  position: fixed;}

.next{
  color: white;
  width: 33px;
  height: 21px;
  text-align: center;
/*  font-family: Lato;*/
  font-family: "georgiapro", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  position: fixed;
  right: 37px;
  top: 28.5px;
}

.triangle{
  margin-top: -13pt;
  margin-left: 18pt;
  display: flex;
}

/*------------------------------------------------*/

.path{
  width: 1580px;
  margin-top: 145pt;
  margin-left: -34pt;
}

.text p{
  color: black;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 140%;
  text-align: center;
  margin-top: -172.5pt;
  text-align: center;
}

.text{
  text-align: left;
  margin: 0 auto;
  max-width: 725px;
}

@media (max-width: 734px){
  .text{
    margin-top: -195pt;
  }
}



























